%h1== "#{@token.word}"
%div(style="float: left") Frequency
%div(style="clear: none; margin-left: 150px; width: 300px")= @token.frequency
%div(style="float: left") Ranking
%div(style="clear: none; margin-left: 150px; width: 300px")= @token.id
    
- unless @common_dist_0.empty?
  %h3== Common words immediately to the left of #{@token.word}
  %ul
    - @common_dist_0.each do |kind,(f,w)|
      %li= "#{kind}#{sprintf("(%.1f%%)",100*f)} - most popular: #{w}"

- unless @common_dist_1.empty?
  %h3== Common words two words to the left of #{@token.word}
  %ul
    - @common_dist_1.each do |kind,(f,w)|
      %li= "#{kind}#{sprintf("(%.1f%%)",100*f)} - most popular: #{w}"

%ul
  - @bigram_prec.each do |w,f|
    %li= link_to "#{f}: #{w || '#'} #{@token.word}", examples_url(phrase: "#{w || '#'} #{@token.word}")
    
%ul
  - @bigram_succ.each do |w,f|
    %li= link_to "#{f}: #{@token.word} #{w || '#'}", examples_url(phrase: "#{@token.word} #{w || '#'}")
    
%ul
  - @g3_1.each do |w, f|
    %li= link_to "#{f}: #{w}", examples_url(phrase: w)
  - @g3_2.each do |w, f|
    %li= link_to "#{f}: #{w}", examples_url(phrase: w)
  - @g3_3.each do |w, f|
    %li= link_to "#{f}: #{w}", examples_url(phrase: w)
    