%h2== 3-gram (#{@g3.frequency})
%h3= @g3.words.map {|w| link_to(w,token_url(id: w, source: params[:source])) }.join(" ").html_safe
- ws = @g3.words
%pre
  &nbsp;
  - @g3.seqs.uniq.each do |sentence|
    - pos = sentence =~ %r(#{ws[0]}[, ]+#{ws[1]}[, ]+#{ws[2]})i
    - pos ||= 50
    - if pos > 50
      - short_sentence = sentence[pos-50 .. -1]
      - pos = 50
    - else
      - short_sentence = sentence
    %span(title=sentence)~ short_sentence.rjust(50 + short_sentence.size - pos, " ")[0,150]
