!!! Strict
%html{ :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :"http-equiv" => "content-type",  :content => "text/html;charset=UTF-8" }/
    %title Corpora
    %link(href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="http://yui.yahooapis.com/3.2.0/build/cssbase/base-min.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="http://yui.yahooapis.com/3.2.0/build/cssfonts/fonts-min.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css")
    = csrf_meta_tag

  %body
    = link_to image_tag("parrot_small.png", :style => "position: absolute"), "/"
    #tabs
      %h1{:style => "left: 70px; top: 0; position: absolute; "}
        = image_tag "/images/logos/inglua2.gif"
      - %w(de en es fr it nl).each do |l|
        = link_to l, token_url(source: l)
      %form{action: token_url(source: params[:source]), method: "GET", style: "float: right"}
        %input(type="text" name="id" placeholder="Search")
    .container(style="margin-left: 1em;")
      = yield
